laboratorio/migrations/__pycache__/0002_laboratorio_delete_laboratoriomodel_and_more.cpython-312.pyc
laboratorio/migrations/__pycache__/0012_alter_laboratorio_ciudad_alter_laboratorio_pais.cpython-312.pyc
