{% extends 'base.html' %}


{% block content %}

<div class="container">

    <div class="modal mt-5" tabindex="-1" style="display:block; position: absolute; top:10%;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Eliminar Laboratorio</h5>

            </div>
            <div class="modal-body">
              <p>¿Está seguro de eliminar {{ lab_elim.nombre }}?</p>
            </div>
            <div class="modal-footer">

                <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    


        
        
    </form>

</div>

{% endblock %}